.ContainerPosts {
   max-width: 1120px;
   margin: 0 auto;
   padding: 0 2rem;   
}

.posts {
    max-width: 720px;
    margin: 5rem auto 0;

    a {
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid var(--gray-700);
        }       

        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 2rem;
            transition: color 0.2s;
        }        

        &:hover strong {
            color: var(--yellow-500);
        }
    }
}

.InfoPost {
    display: flex;
    align-items: center;

    p {
        color: var(--gray-300);
        line-height: 1.625rem;        
        padding-right: 1rem;
        padding-left: .3rem;
    }

    time {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-300);
        padding-right: 1rem;
        padding-left: .3rem;
    }
}

.ContainerLoadMore {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;  

    button {
        border: none;
        background:none;
        color: var(--highlight);
    }
    
    .buttonLoadMore {
        max-width: 720px;
        margin: 5rem 10rem 0;

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;        
    }
}